@page
@model OidcServer.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" style="color: red;"></div>
    
    <input asp-for="Input.Code" type="hidden" />
    
    <input asp-for="ReturnUrl" type="hidden" />
    
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email" style="color: red;"></span>
    </div>
    
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" style="color: red;"></span>
    </div>
    
    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" style="color: red;"></span>
    </div>
    
    <button type="submit">Reset</button>
</form>