version: '3.8'

services:
  postgres_db:
    image: postgres:15-alpine
    container_name: financetracking_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_HOST_PORT}:5432"
    volumes:
      - ./database/creation_query.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres_db;Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:8081;http://+:8080
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/identityserver.pfx
      - IdentitySettings__FrontendUrl=${FRONTEND_URL}
      - IdentitySettings__CallbackPath=${OIDC_CALLBACK_PATH}
    ports:
      - "${BACKEND_HOST_PORT}:8080"
      - "5001:8081" 
    volumes:
      - ./backend/https/identityserver.pfx:/https/identityserver.pfx:ro
    depends_on:
      postgres_db:
        condition: service_healthy

volumes:
  pgdata: